* {
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%;
	background-color: rgb(28, 28, 42);
    font-family: arial;
}

body {
    margin: 0;
}

button{
	overflow:visible;
	border:0;
	font:inherit;
	-webkit-font-smoothing:inherit;
	letter-spacing:inherit;
	background:none;
	cursor:pointer;
	outline: none;
}

.parent {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 48px;
	font-weight: 400;
	letter-spacing: 4px;
	color:  #fc5b13;
	padding: 20px;
}

#board {
	padding: 20px;
}

#control {
	position: fixed;
	height: 75px;
	right: 0;
	left: 0;
	bottom: 50px;
	padding: 20px;
}

#control button{
	display:block;
	height: 50px;
	width: 100px;
	margin: 0 50px;
	font-size: 18px;
	letter-spacing: 2px;
	border-color: #fc5b13;
	color: #fc5b13;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
}

#control button:hover {
	transform: scale(1.05);
}


.p5Canvas, #chart {
	margin: 50px 50px;
	border-color: #606060;
	border-radius: 3px;
    border-style: solid;
}

.p5Canvas {
	cursor: crosshair;
}

#chart {
	width: 300px;
	height: 300px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

#chart div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
}

#chart h2, h3 {
	width: 100px;
	font-size: 20px;
	letter-spacing: 1.2px;
	color: #65bef0;
}

#chart h2 {
	text-align: left;
}

#chart h3 {
	text-align: right;
}


